<!DOCTYPE html>
<html>
  <head>
    <title>Form Submission</title>
  </head>
  <body>
    <h1>Enter a string:</h1>
    <form action="/second" method="post">
      <input type="text" name="n1" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
